@model  WebApplication2.Models.EmployeeDept
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 
@Model.emp.EmpId<br />
@Model.emp.EmpName<br />
@Model.emp.EmpSalary<br />
@Model.dept.DeptId<br />
@Model.dept.DeptName<br />


